.burguerMenu {
  margin-right: 20px;
  margin-top: 7px;

  justify-content: space-between;
  align-items: center;
  justify-items: center;

  :hover{
    cursor:pointer;
  }
}

.burguerBackground {
  background: #ffffff;
  padding: 5px 1.5rem;
  border-radius: 30px;
}

.burguer {
  margin-bottom: 3px;
  margin-left: -10px;
  margin-right: 15px;

  border: none;
  background: #ffffff;
}

.profile {
  color: gray;
  margin-right: -18px;
  margin-bottom: -6px;
}

.option {
  background: #ffffff;
  border: none;
  font-size: 3rem;

  color: #484848;
}