.container {
  padding: 1.5rem 0;

  font-size: 1.5rem;
  max-width: 1560px;
  margin: 0 auto;
}

.logo {
  color: #ffffff;
  font-weight: bold;
}

.contentWrapper {
  max-width: 1620px;
  margin: 0 auto;
  margin-top: 32px;
}