.container {
  height: auto;
  :hover {
    cursor: pointer;
  }
}

.banner {
  height: 30rem;
  width: 100%;

  background: url(../../assets/bannerImg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-radius: 10px;
  margin-bottom: 3rem;
}

@media(max-width: 1660px){
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.textAndButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: white;
  margin-left: 5rem;
}

.titulo {
  margin-top: 10rem;
  font-size: 2.8rem;
  font-weight: bold;

  :hover {
    filter: brightness(50%);
  }
}

.info {
  margin-top: 10px ;
  font-size: 1.2rem;
}

.button {
  padding: 1rem 1.8rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: none;

  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  filter: brightness(0.9);
}